<form class="find" action= "<%= results_path %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="zipcode">enter a zipcode</label>
  <input class="zip" type="number" name="location[postCode]" >
  <input type="submit" value="find">
</form>
<div class="results">
  <%= $opps[:opportunities][0] %>

</div>
