  <form class="find" action= "<%= find_path %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>choose a city</label>
    <input class="city" type="text" name="location[city]" >
    <input type="submit" value="find">
  </form>
