  <form class="find" action= "<%= find_path %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="zipcode">enter a zipcode</label>
    <input class="zip" type="text" name="location[postCode]" >
    <input type="submit" value="find">
  </form>
