  <form class="find" action="index.html" method="post">
    <label for="zipcode">Enter a Zipcode</label>
    <input class="zip" type="number" name="zipcode" value="location">
  </form>
  <!-- <div class="results">
    <ul>
      <li>God's Love</li>
      <li>Red Cross</li>
      <li>Big Brother Big Sister</li>
    </ul>
  </div> -->
